{% extends "base.html" %}
{% block title %}- Contact Us {% endblock title %}

{% block body%}

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
  <div class="container">

    <div class="section-title">
      <h2>Contact</h2>
      <h3>Contact <span>Us</span></h3>
      <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae
        autem.</p>
    </div>
    <!-- message -->
    {% for message in messages %}
    <div class="alert alert-{{message.tags}}alert-dismissible fade show" role="alert">
      <strong>Message :</strong> {{ message }}.
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% comment %} >-----------------------------> {% endcomment %}

    <form action="{% url 'contact' %}" method="POST">
      {% csrf_token %}
      <br>
      <label for="name">full Name</label>
      <div class="form-group">
        <input type="text" class="form-control p-2" id="text" name="name" required>
      </div>
      <label for="email">Email</label>
      <div class="form-group">
        <input type="email" class="form-control" id="email" name="email" required>
      </div>
      <label for="pass1">How can i help you?</label>
      <div class="form-group">
        <textarea type="text" class="form-control" id="desc" name="desc" required></textarea>
      </div>
      <label for="phone">Phone</label>
      <div class="form-group">
        <input type="number" class="form-control" id="phone" name="phone" required>
      </div>
      <br>
      <button type="submit" class="btn btn-dark ">Submit</button>
      <br>


    </form>





  </div>
</section><!-- End Contact Section -->
{%endblock body%}