{% extends "base.html" %}
{% block title %}- Sign Up {% endblock title %}

{% block content %}

<div class="card bg-light p-5 ">
<!-- message -->
     {% for message in messages  %}            
     <div class="alert alert-{{message.tags}}alert-dismissible fade show" role="alert">
       <strong>Message :</strong> {{ message }}.
       <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
     </div>
     {% endfor %}   
{% comment %} >-----------------------------> {% endcomment %}

    <h3 class="text-dark fw-bold ">Signup</h3>

    <form action="/auth/signup/" method="post"> {% csrf_token %}
        <br>
        <label for="email">Email</label>
        <div class="form-group">
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <label for="pass1">Password</label>
        <div class="form-group">
            <input type="password" class="form-control" id="pass1" name="pass1" required>
        </div>
        <label for="pass2">Confirm Password</label>
        <div class="form-group">
            <input type="password" class="form-control" id="pass2" name="pass2" required>
        </div>
        <br>
        <button type="submit" class="btn btn-dark  border border-success p-1">SignIn</button>
        <br>
        Already User? <a href="/auth/login">Login</a>

    </form>
</div>
{% endblock content %}